@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Ojuju);

nav-bar-logo {
  width: 200px;
}

body {
  background-color: #030913;
  max-width: 1920px;
  margin: 0 auto;
}

div.body-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-size: 8rem;
  font-family: "Audiowide", sans-serif;
  color: #95C7A0;
  margin-bottom: 10px;
  margin-top: 30px;
}

h2 {
  font-size: 4rem;
  font-family: "Audiowide", sans-serif;
  color: #95C7A0;
  margin-bottom: 10px;
  margin-top: 20px;
}

p {
  font-family: "Ojuju", "sans-serif";
  font-size: 1.0rem;
  color: #EDF0F5;
  margin-top: 10px;
  margin-bottom: 10px;
}
