body {
  background-color: #030913
}

h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 1.5rem;
  font-color: #EDF0F5;
}

p {
  font-family: "Ojuju", "sans-serif";
  font-size: 1.0rem;
  font-color: #EDF0F5;
}
